@model IEnumerable<Proyectofinal.Models.Salida>

@{
    ViewBag.Title = "Salida de empleado";
}

<h2>Salida de empleado</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empleado1.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDesalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaDesalida)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado1.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDesalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaDesalida)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
