@model IEnumerable<Proyectofinal.Models.Permisos>

@{
    ViewBag.Title = "Permiso";
}

<h2>Permiso</h2>

@using (Html.BeginForm())
{
    <p>
        Buscador: @Html.TextBox("Nombre")
        <input type="submit" value="buscar">
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empleado1.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado1.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
          
        </tr>
    }

</table>
