@model IEnumerable<Proyectofinal.Models.Empleado>

@{
    ViewBag.Title = "Empleado";
}

<h2>Empleado</h2>

<p>
    @Html.ActionLink("Agregar", "Create")

</p>


   
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deparamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_de_ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_Empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deparamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_de_ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salario)
        </td>
        <td>
            @{if (item.Estado == "a"){
                 <span>Activo </span>
                }
              else{
            <span>Inactivo </span>
                    }
                }

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id }) |
            @Html.ActionLink("Activar", "Activar", new { id = item.id }) |
            @Html.ActionLink("inactivar", "inactivar", new { id = item.id })
        </td>
    </tr>
}

</table>
